---
layout: default
title: Home
permalink: /
active: home
---

{% raw %}
<div class="container" id="home" ng-controller="HomeCtrl">
	<div class="row packery-container">

		<a class="home-item home-item-larger green1 span8 clearfix" href="/about">
			<div class="home-item-cntr welcome">
				<div class="home-item-label clearfix">
					<div class="pull-left">WELCOME</div>
				</div>
				<p class="big">Discover & contribute valuable data resources to inform ocean planning, policy development and resource management on the West <span style="white-space:nowrap">Coast.<img style="margin-left: 10px;" src="/assets/img/icons/welcome_caret.png"></span></p>			
			</div>
		</a>

		<div class="home-item home-item-smaller red span4">
			<div class="home-item-cntr search">
				<div ng-cloak class="giantText">{{ recordCount }}</div>
				<p>registered resources</p>
				<form ng-submit="search()">
					<div id="search-filter">
						<input type="search" placeholder="SEARCH" ng-model="searchText">
						<img src="/assets/img/icons/black_search.png" ng-click="search()">
					</div>
				</form>				
			</div>
		</div>

		<a class="home-item-biological home-item blue span4 h1" href="/discover/#?text=*&c=Category.Biological.Species_And_Taxa~Category.Biological.Habitats">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Biological Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>
		</a>

		<a class="home-item-marine-debris home-item green2 span5 h1" href="/discover/#?text=*&i=Issue.Marine_Debris">
			<div class="home-item-cntr">
				<div class="home-item-label clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Marine Debris Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			

		</a>

		<a class="home-item-human-use home-item green2 span3 h1" href="/discover/#?text=*&c=Category.Human.Management~Category.Human.Boundaries~Category.Human.Infrastructure~Category.Human.Economy~Category.Human.Demographics_And_Culture">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Human Use Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			
		</a>

		<!-- <a class="home-item-location home-item span4 h1" href="javascript:void(0)">
			<div class="home-item-cntr">
				
				<div class="labeling-layer">
					<div class="home-item-label inverse clearfix z-front">
						<div class="pull-left">DISCOVER</div>
					</div>
					<p class="big z-front">Location Based Data</p>
					<img class="home-item-icon z-front" src="/assets/img/icons/white_search.png">
				</div>
				<div leaflet defaults="map.options" center="map.center" class="leaflet-directive h1"></div>
			</div>			
			
		</a> -->

		<a class="home-item home-item-smallest lightGrey span8 clearfix" href="/explore/">
			<div class="home-item-cntr welcome">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">EXPLORE</div>
				</div>
				<p class="medium"><span class="strong">Contributors:</span> see who is contributing to the registry. <img style="margin-left: 10px;" src="/assets/img/icons/welcome_caret.png"></span></p>			
			</div>
		</a>

		<a class="home-item-physical home-item green2 span4 h1" href="/discover/#?text=*&c=Category.Physical.Earth~Category.Physical.Water">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Physical Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			
		</a>

	</div>
</div>
{% endraw %}
