
body {
    font-family: "helvetica neue", helvetica, Arial, sans-serif;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 110px;
    }

a:focus,
.btn:focus { outline: none; }

button::-moz-focus-inner,
 input::-moz-focus-inner { border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

/*
h1 {
    color: white;
}


.container-masthead {
    margin-top: 10px;
    background: transparent;
}

.masthead {
    margin-bottom: 20px;
    height: 60px; padding: 20px;
    background: #5170b0;
    background: -webkit-linear-gradient(top, #5170b0 0%, #516181 100%);
    background:    -moz-linear-gradient(top, #5170b0 0%, #516181 100%);
    background:     -ms-linear-gradient(top, #5170b0 0%, #516181 100%);
    background:      -o-linear-gradient(top, #5170b0 0%, #516181 100%);
    background: linear-gradient(top bottom,   #5170b0 0%, #516181 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5170b0', endColorstr='#516181',GradientType=0 );
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

*/

.navbar-logo {
    float: left;
    color: #aaa;
}

.navbar-logo p { margin-bottom: 2px; }

.navbar-logo-line1 { font-size: 20px; letter-spacing: 1px; line-height: 20px; color: #aaa;}
/*
.navbar-logo-line2 { font-size: 16px; letter-spacing: 2.55px; text-align: left; }
.navbar-logo-line3 { font-size: 10px; color: #999; text-align: left; }
*/
.navbar-logo-img { width: 220px; }


.navbar-title {
    float: left; 
    margin-right: 22px;
    font-size: 34px; 
    color: #888; 
    line-height: 45px;
}

.navbar-subtitle {
    float: left;
    margin-right: 22px;
    font-size: 20px;
    color: #aaa;
    line-height: 35px;
}

.navbar-btn-group { float: right; }
/*
.clearfix {
    clear: both;
}
*/

/*** MARCO STYLES ***/

.navbar {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    height: 90px;
}

.navbar .navbar-inner {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none;
    filter: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav > li a {
    background-color: white;
    border-left: 1px solid #CCCCCC;
    font-size: 12px;
    height: 44px;
    padding-top: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}

.navbar .nav > li > a {
    color: #333333;
    line-height: 12px;
}



/*** END MARCO STYLES ***/

.navbar-logo a {
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    text-align: left !important;
    text-transform: none !important;
    width: 170px !important;
}

.wcga-rdf-content {
    overflow: auto;
    margin: 10px 0px; padding: 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    height: inherit;
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0 1px 1px rgba(0,0,0,0.25);*/
}

.filters .tab-content {
    padding: 10px;
}

#text-search {
    border: 1px solid #ddd;
    padding: 0 10px;
}
#text-search  textarea {
    width: 95%;
}

#search-button {
    margin-right: 0;
    margin-left: auto;
}

#query-info {
    padding: 10px;
    margin: 10px;
    width: 90%;
    background: #f0f0f0;
}

#total-count {
	color: #333;
}

#keywords {
    padding-left: 10px;
}