
body {
    font-family: "helvetica neue", helvetica, Arial, sans-serif;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 110px;
    }

a:focus,
.btn:focus { outline: none; }

button::-moz-focus-inner,
 input::-moz-focus-inner { border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

.navbar-logo {
    float: left;
    color: #aaa;
}

.navbar-logo p { margin-bottom: 2px; }

.navbar-logo-line1 { font-size: 20px; letter-spacing: 1px; line-height: 20px; color: #aaa;}

.navbar-logo-img { width: 220px; }


.navbar-title {
    float: left; 
    margin-right: 22px;
    margin-top: 20px;
    font-size: 34px; 
    color: #888; 
    line-height: 45px;
    cursor: pointer;
}

.navbar-subtitle {
    float: left;
    margin-right: 22px;
    font-size: 20px;
    color: #aaa;
    line-height: 35px;
}

.navbar-btn-group { float: right; }

/*** MARCO STYLES ***/

.navbar {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    height: 90px;
}

.navbar .navbar-inner {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none;
    filter: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav > li a {
    background-color: white;
    border-left: 1px solid #CCCCCC;
    font-size: 12px;
    height: 44px;
    padding-top: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}

.navbar .nav > li > a {
    color: #333333;
    line-height: 12px;
}

/*** END MARCO STYLES ***/

.navbar-logo a {
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    text-align: left !important;
    text-transform: none !important;
    width: 170px !important;
}

.home-carousel-blurb {
    text-align: justify;
    margin: 0 auto !important;
    width: 90% !important;
}

.home-search-blurb {
    width: 145px; 
    margin-top: 25px;
}

.home-search-blurb button {
    margin-top: 10px;
}

.home-search-head {
    height: 25px;
}

.home-search-head p{
    margin-top: 5%;
    margin-bottom:0;
}

#home-num-found {
    font-size: 1.5em;
    color: #888888;
    margin-right: 5px;
}

#home-registered-text {
    margin: 30px auto 0 0;
    font-size: 1.3em;
}

.search-div {
    margin-top: 10px;
}

#search-bar {
    width: 100%;
}

.wcga-rdf-content {
    overflow: auto;
    margin: 10px 0px; padding: 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    height: inherit;
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
            box-shadow: 0 1px 1px rgba(0,0,0,0.25);*/
}

.filters .tab-content {
    padding: 10px;
}

.row-fluid.selected-keyword {
    border: solid;
    padding: 1% 0 2% 3%;
    margin-bottom: 2%;
    background-color:#EEE;
}

.selected-keyword {
    width: 85%;
    margin-top: 1%;
    min-height: 20px !important;
}

.results-display {
    margin: 3% 0;
}

.record {
    margin-top: 1%;
    padding: 1%;
}

.record:hover {
    background: #DDD;
}

hr {
    border-top: 1px solid #CCCCCC;
}

.social h5 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.footer-center {
    text-align: center;
}

.footer-center a {
    margin: auto;
}

#map {
    height:200px;
}

#text-search {
    border: 1px solid #ddd;
    padding: 0 10px;
}
#text-search  textarea {
    width: 95%;
}

#search-button {
    margin-right: 0;
    margin-left: auto;
}

#query-info {
    padding: 10px;
    margin: 10px;
    width: 90%;
    background: #f0f0f0;
}

#total-count {
	color: #333;
}

#keywords {
    padding-left: 10px;
}

#results-box {
    margin: -25px 10px 5px 10px;
}

.record_icon {
    max-width: 40px;
    float: right;
}
