
<div>

	<div class="result-controls clearfix">
		<div class="pull-right" ng-show="numPages() > 0">

			<!-- P A G I N A T I O N -->	
			<span class="pagination" ng-show="numPages() > 1">
				<span>PAGE</span>

				<a href="javascript:void(0)" 
					class="subdued" 
					ng-show="numPages() > maxPagesListed && pageIndex > 1" 
					ng-click="pageIndex = pageIndex - 1">
					&laquo;
				</a>
				
				<a href="javascript:void(0)" 
					class="subdued" 
					ng-repeat="pi in pageIndexes()" 
					ng-class="{active: isCurrentPage(pi)}"
					ng-click="setPageIndex(pi)">
					{{pi}}
				</a>

				<a href="javascript:void(0)" 
					class="subdued" 
					ng-show="numPages() > maxPagesListed && pageIndex < numPages()" 
					ng-click="pageIndex = pageIndex + 1">
					&raquo;
				</a>
			</span>

			<!-- R O W S   P E R   P A G E  -->	
			<span class="dropdown">
				<a class="subdued dropdown-toggle" href="javascript:void(0)">SHOW <i class="icon-angle-down"></i></a>
				<ul style="left:-120px" class="dropdown-menu">
					<li><a href="javascript:void(0)" ng-click="resultsPerPage = 5">5 per page</a></li>
					<li><a href="javascript:void(0)" ng-click="resultsPerPage = 15">15 per page</a></li>
					<li><a href="javascript:void(0)" ng-click="resultsPerPage = 50">50 per page</a></li>
				</ul>
			</span>
			<!--<span>
				<a class="subdued" href="">ORDER BY <i class="icon-angle-down"></i></a>
			</span>-->
		</div>
	</div>

	<!-- R E S U L T S   S U M M A R Y -->
	<p class="results-summary" ng-show="summaryItems.length > 1"> 
		<strong>{{numFound}}</strong> results found for <span ng-repeat="item in summaryItems"><strong>{{ item.label }}</strong><i class="icon-remove-sign subdued small-icon" tooltip-placement="bottom" tooltip="Remove Filter" ng-click="clearItem(item)"></i><span ng-show="$index==summaryItems.length-2"> &&nbsp;</span><span ng-hide="$last || $index==summaryItems.length-2">,&nbsp;</span></span>.
	</p>
	<p class="results-summary" ng-show="summaryItems.length == 1"> 
		<strong>{{numFound}}</strong> results found for <span ng-repeat="item in summaryItems"><strong>{{ item.label }}</strong> <i class="icon-remove-sign subdued small-icon" tooltip-placement="bottom" tooltip="Remove Filter" ng-click="clearItem(item)"></i></span>.
	</p>
        <p class="results-summary" ng-show="summaryItems.length == 0">
                <strong>{{numFound}}</strong> results found.
        </p>
	<!-- R E S U L T S -->
	<div class="results-list">
		<div result ng-repeat="result in data" result-data="result">
		</div>
	</div>

	<div class="results-end subdued pull-right" ng-show="showingLastPage()">
		END
	</div>

</div>
