<div class="header container">
	<div class="row">
		<div class="span4">
			<a href="/"><img src="/assets/img/WCODP_web_logo.png"></a>
		</div>
		<div class="span8">
			<div class="clearfix">
				<span class="pull-right description subdued">A project of the West Coast Governors Alliance on Ocean Health</span>
			</div>
			<div class="top-nav">
				<ul class="unstyled inline">
					{% for link in site.links %}
						{% if link == page.active %}
						<li class="active">
						{% else %}
						<li>
						{% endif %}
							<a href="/{{ link }}">{{ link }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
