.uppercase {
  text-transform: uppercase;
}
.margin-top-1 {
  margin-top: 10px;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#OpenSans-LightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Italic-webfont.svg#OpenSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PtMono';
  src: url('../fonts/PtMono/PtMono-Bold-webfont.eot');
  src: url('../fonts/PtMono/PtMono-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PtMono/PtMono-Bold-webfont.woff') format('woff'), url('../fonts/PtMono/PtMono-Bold-webfont.ttf') format('truetype'), url('../fonts/PtMono/PtMono-Bold-webfont.svg#PtMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PtMono';
  src: url('../fonts/PtMono/PtMono-Regular-webfont.eot');
  src: url('../fonts/PtMono/PtMono-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PtMono/PtMono-Regular-webfont.woff') format('woff'), url('../fonts/PtMono/PtMono-Regular-webfont.ttf') format('truetype'), url('../fonts/PtMono/PtMono-Regular-webfont.svg#PtMono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
*,
input {
  font-family: PtMono, "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: normal;
}
p,
p span {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  word-wrap: break-word;
}
.subdued {
  color: #a6a6a6;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a.subdued:hover {
  color: #4d4d4f;
}
small {
  font-size: 11px;
}
/*
 * h e a d e r
 */
.header .description {
  font-size: 11px;
  margin-top: 42px;
  margin-bottom: 6px;
}
.top-nav {
  border-top: #a6a6a6 2px solid;
  border-bottom: #a6a6a6 2px solid;
  margin-left: 20px;
}
.top-nav ul {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 17px;
  position: relative;
}
.top-nav li {
  margin-left: 70px;
}
@media (max-width: 1199px) {
  .top-nav li {
    margin-left: 40px;
  }
}
.top-nav li:first-child {
  margin-left: 0;
}
.top-nav a {
  color: #332e1f;
  text-transform: uppercase;
}
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a {
  color: #999999;
}
.top-nav ul a:hover {
  color: #332e1f;
}
.top-nav li.active {
  position: relative;
}
.top-nav li.active img {
  position: absolute;
  top: 22px;
  left: 30px;
}
.top-nav li.active.about img {
  left: 20px;
}
.top-nav li.active.inform img {
  left: 25px;
}
.top-nav-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
}
/*
 * f o o t e r
 */
.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: #4d4d4f 1px solid;
  padding-top: 30px;
  font-size: 12px;
}
.footer a,
.footer a:hover {
  color: #baba27;
}
/*
 *  h o m e
 */
.home-item {
  margin-left: 0;
  position: relative;
}
.home-item.w1 {
  width: 31%;
}
.home-item.w2 {
  width: 64%;
}
.home-item.h1 {
  height: 300px;
}
/* colors */
.home-item.green1 {
  background-color: #baba27;
}
.home-item.green2 {
  background-color: #9ec73d;
}
.home-item.red {
  background-color: #ff3817;
}
.home-item.purple {
  background-color: #b91d47;
}
.home-item.blue {
  background-color: #0070cf;
}
.home-item.lightGrey {
  background-color: #a6a6a6;
}
.home-item.transparent {
  background-color: transparent;
}
.blue {
  background-color: #0070cf;
}
.home-item-cntr {
  padding: 0px 15px 0px 15px;
  height: 100%;
}
a > div.home-item-cntr:hover {
  background: rgba(4, 4, 4, 0.1);
}
.home-item-cntr.welcome {
  padding: 20px 30px 30px 30px;
}
.home-item-cntr.search {
  padding: 30px 20px 20px 20px;
}
.home-item-cntr.search .giantText {
  font-size: 50px;
  line-height: 55px;
  color: #332e1f;
  font-weight: bold;
}
.home-item-cntr.search p {
  font-weight: 200;
  margin-bottom: 10px;
}
.home-item p {
  color: white;
}
.home-item p.big {
  font-size: 32px;
  line-height: 50px;
}
.home-item p.medium {
  font-size: 24px;
}
.home-item-label {
  padding-top: 10px;
  margin-bottom: 10px;
}
.home-item-label > .pull-left {
  color: #332e1f;
  border-bottom: 1px solid #332e1f;
}
.home-item-label.inverse > .pull-left {
  color: white;
  border-bottom-color: white;
}
.home-item-cntr .home-item-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.home-item-location .leaflet-directive,
.home-item-location .home-item-cntr,
.leaflet-cover,
.home-item-location .labeling-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-item-location .leaflet-directive {
  z-index: -1;
}
.leaflet-cover,
.home-item-location .labeling-layer {
  z-index: 9000;
}
.home-item .gigante {
  width: 100%;
  height: 400px;
}
@media (min-width: 980px) {
  .home-sub-items {
    margin-top: 30px;
  }
}
@media (max-width: 979px) {
  .home-sub-items {
    margin-top: 0px;
  }
  .home-sub-item {
    font-size: 11px;
  }
}
.home-sub-item {
  background: white;
  background: rgba(252, 252, 252, 0.75);
  display: block;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  font-family: OpenSans, sans-serif;
  color: black;
  text-shadow: 0px 0px 2px #ffffff;
  font-weight: bold;
  padding-left: 27px;
  line-height: 24px;
}
.home-sub-item:hover {
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  cursor: pointer;
  color: black;
}
.home-sub-item i {
  margin-left: -15px;
}
/**
 * a b o u t
 */
#about {
  margin-top: 30px;
}
.home-item .about .home-item-label div.pull-left {
  border-bottom: #9ec73d 2px solid;
}
.home-item .learn-more .home-item-label div.pull-left {
  border-bottom: #9ec73d 2px solid;
}
.home-item-cntr.about,
.home-item-cntr.learn-more,
.image-item-cntr,
.home-item-cntr.numbers {
  padding: 30px 50px 40px 50px;
}
.image-item-cntr {
  padding-top: 0;
  padding-bottom: 0;
}
.image-item-cntr p.big {
  padding-top: 30px;
  padding-bottom: 40px;
}
#about p {
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
}
.home-item-cntr.about p:first-child,
.home-item-cntr.learn-more p:first-child,
.home-item-cntr.numbers p:first-child {
  margin-top: 30px;
}
.home-item-cntr.about a {
  color: white;
}
.home-item .learn-more p {
  color: inherit;
}
.home-item-cntr.about a,
.home-item-cntr.learn-more a,
.home-item-cntr.numbers a {
  font-weight: normal;
}
.home-item-cntr.about a:hover {
  color: #a6a6a6;
}
.success-story > .cntr,
.learn-more > .cntr {
  padding: 0 50px 40px 50px;
}
#about .success-story h3,
#about .learn-more h3 {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
#about hr {
  margin: 40px 30px 30px 30px;
}
#about .success-story img {
  padding-top: 15px;
}
@media (max-width: 767px) {
  #about .success-story .img-container {
    margin-left: 50px;
  }
}
/*
 * p a g i n a t i o n
 */
.result-controls {
  padding-bottom: 20px;
}
.result-controls span {
  margin-left: 20px;
  font-size: 11px;
}
.controls-bottom {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pagination a,
.pagination span {
  float: left;
  margin-right: 8px;
  margin-top: 5px;
  line-height: 11px;
}
.pagination a.active {
  border-bottom: #0070cf 2px solid;
}
/*
 * f i l t e r s
 */
#filters {
  margin-top: 50px;
}
.filters-container {
  width: inherit;
}
#search-filter {
  border: #ff3817 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
#search-filter input {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: none rgba(0, 0, 0, 0.5);
  -moz-box-shadow: none rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  margin-bottom: 0;
  width: 80%;
  font-size: 12px;
}
#search-filter img {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}
#discover .leaflet-directive {
  height: 180px;
}
.leaflet-map-pane:hover {
  cursor: pointer;
}
/* collapsible filter groups */
a.filter-group-toggle {
  display: table-cell;
  vertical-align: middle;
  background-color: #F4F2F1;
  color: #332e1f;
  width: inherit;
  height: 70px;
  font-size: 22px;
  padding-left: 22px;
  padding-right: 22px;
  border-top: #8FB6CC 1px solid;
}
a.filter-group-toggle:first-of-type {
  border-top: none;
}
.filter-group-label i[class^="icon"] {
  font-size: 20px;
}
.filter-group-container {
  background-color: #F4F2F1;
  padding-left: 22px;
  padding-right: 22px;
}
/* desaturate non-hovered items */
#filters a.filter-group-toggle.desaturated,
.filter-group-container.desaturated {
  background-color: rgba(244, 242, 241, 0.5);
  color: rgba(51, 46, 31, 0.5);
  border-top-color: rgba(143, 182, 204, 0.5);
}
#filters a.filter-group-toggle.desaturated i[class^="icon"] {
  color: rgba(166, 166, 166, 0.5);
}
.small-icon {
  font-size: 15px;
  margin-left: 3px;
  margin-right: 4px;
}
#filters a.filter-group-toggle:hover {
  border-top-color: rgba(143, 182, 204, 0.5);
}
.filter-group-container .select-all-link {
  display: block;
  font-size: 12px;
}
#location-filter .select-all-link {
  display: inline;
}
.filter-option-group-label {
  font-size: 17px;
}
ul.filter-options {
  margin-bottom: 20px;
}
ul.filter-options > li {
  margin-top: 13px;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  color: #0070cf;
}
ul.filter-options li:hover {
  cursor: pointer;
  color: #005580;
}
ul.filter-options li > i,
span > i {
  margin-right: 18px;
}
ul.sub-filter-options {
  margin-top: 8px;
  margin-left: 33px;
  font-size: 13px;
}
#location-filter {
  padding-left: 0;
  padding-right: 0;
}
#location-filter p.directions {
  text-align: center;
  margin-bottom: 0;
}
#location-filter p.attribution {
  font-size: 11px;
  margin: 0 10px 0 10px;
  line-height: 14px;
}
/*
 * f i l t e r s   a s   d r o p d o w n
 */
.filters-toggle {
  height: 60px;
  text-align: center;
  background-color: #baba27;
  color: white;
  font-size: 22px;
  border: 10px solid white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.filters-toggle:hover,
.filters-toggle:active {
  color: #eeeeee;
}
.filters-toggle-submit-container {
  margin-top: 20px;
}
.filters-toggle-on {
  display: block;
  border-width: 0;
  margin-bottom: 20px;
}
.filters-toggle-on .label-container {
  padding-top: 20px;
}
.filters-toggle-submit,
.filters-toggle-cancel {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.filters-toggle-cancel {
  background-color: #ff3817;
}
#filters .mobile-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  margin-top: 0;
  padding-top: 20px;
  width: inherit;
}
#filters .mobile-modal #search-filter {
  margin-left: 20px;
  margin-right: 20px;
}
#filters .mobile-modal a.filter-group-toggle,
#filters .mobile-modal .filters-toggle {
  width: 1000px;
}
/*
 * r e s u l t s
 */
p.results-summary {
  font-family: OpenSans, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
  font-style: italic;
  margin-left: 20px;
  margin-right: 50px;
}
p.results-summary strong {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0070cf;
}
.result {
  display: block;
  position: relative;
  margin-left: 20px;
  padding-top: 13px;
  padding-bottom: 10px;
  border-top: 1px dashed #a6a6a6;
}
.result:last-child {
  border-bottom: 1px dashed #a6a6a6;
}
.result-info {
  width: 75%;
  float: left;
}
.result-links {
  width: 20%;
  float: right;
  border-left: 1px dashed #a6a6a6;
  padding-left: 3%;
  margin-top: 12px;
}
.result-info > .result-title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.result-info > p.result-description {
  color: #332e1f;
  font-weight: 200;
  line-height: 24px;
}
.result-info > .result-title,
.result-info > p.result-description {
  padding-right: 20px;
}
.result-links .date-label {
  font-size: 11px;
}
.result-links .links {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.result-links .links a {
  margin-right: 8px;
  text-decoration: underline;
}
.result-links .links i {
  color: #999999;
}
.result-map {
  width: 35%;
  height: 150px;
  float: left;
}
.result-map .leaflet-map-pane:hover {
  cursor: default !important;
}
.result-metadata {
  float: left;
  width: 40%;
  margin-top: 0;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 11px;
}
.result-metadata dt {
  color: #a6a6a6;
  font-weight: normal;
  line-height: 16px;
}
.result-metadata dd {
  margin-left: 0;
  line-height: 16px;
  margin-bottom: 12px;
}
.result-close-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999999;
  font-size: 18px;
}
.result-close-link:hover {
  color: #4d4d4f;
}
.result-closed:hover,
.result-opened {
  background-color: rgba(0, 112, 207, 0.05);
}
.result-closed:hover,
.result-title:hover {
  cursor: pointer;
}
.result-opened {
  background-color: rgba(0, 112, 207, 0.05);
  border-top: none;
  margin-left: 0;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.result-closed .result-close-link,
.result-closed .result-details {
  display: none;
}
.result-closed .result-description {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-opened .result-description {
  margin-bottom: 50px;
}
.results-end {
  font-size: 11px;
  margin-top: 20px;
}
.harvest-info {
  font-weight: 200;
  font-size: 10px;
}
/*
 * d i s c o v e r   l a n d i n g
 */
#discover-landing {
  margin-top: 44px;
}
#discover-landing p {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 26px;
  line-height: 42px;
  color: #332e1f;
}
#discover-landing p .highlight {
  font-family: PtMono, "Courier New", Courier, monospace;
  color: #baba27;
  font-weight: 700;
}
#discover-landing p i {
  color: #baba27;
}
#discover-landing p i.blue {
  color: #0070cf;
}
#discover-browse-all {
  font-size: 25px;
  margin-left: 20px;
  color: #332e1f;
  cursor: pointer;
}
.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
}
.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
}
.packery-container {
  padding-left: 30px;
}
.packery-container .span3 {
  width: 290px;
}
.packery-container .home-item.home-item-smaller {
  height: 170px;
}
.packery-container .home-item.home-item-smallest {
  height: 125px;
}
.packery-container .home-item.home-item-larger {
  height: 320px;
}
.packery-container .home-item {
  height: 275px;
}
.home-item p.big {
  font-size: 36px;
  line-height: 45px;
}
.home-item .strong {
  color: #0070cf;
}
@media (max-width: 1199px) {
  .packery-container {
    padding-left: 20px;
  }
  .packery-container .span3 {
    width: 230px;
  }
  .home-item p.big {
    font-size: 32px;
    line-height: 40px;
  }
  .home-item p.medium {
    font-size: 20px;
  }
}
@media (max-width: 979px) {
  #home .packery-container .span3 {
    width: 175px !important;
  }
  .home-item p.big {
    font-size: 24px;
    line-height: 30px;
  }
  .home-item p.medium {
    font-size: 14px;
  }
  .packery-container {
    padding-left: 20px;
  }
  a.filter-group-toggle {
    font-size: 18px;
  }
  .home-item.w1 {
    width: 100%;
  }
  .home-item.w2 {
    width: 100%;
  }
  #home {
    margin-top: 30px;
  }
  .home-item-cntr.search .giantText {
    font-size: 30px;
    line-height: 30px;
  }
  .home-item-label > .pull-left {
    font-size: 12px;
  }
  /*.home-item-cntr.welcome p.big {
    font-size: 18px;
    line-height: 38px;
  }*/
  .packery-container .home-item.home-item-smaller {
    height: 140px;
  }
  .packery-container .home-item.home-item-smallest {
    height: 120px;
  }
  .packery-container .home-item.home-item-larger {
    height: 225px;
  }
  .packery-container .home-item {
    height: 205px;
  }
  #filters {
    margin-top: 10px;
  }
  #about p {
    font-size: 16px;
    line-height: 28px;
  }
  #about .success-story h3,
  #about .learn-more h3 {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .home-item p.big {
    font-size: 24px  !important;
    line-height: 32px !important;
  }
  .home-item p.medium {
    font-size: 18px;
  }
  .packery-container {
    padding-left: 0px;
  }
  #home .packery-container .span3,
  #home .packery-container .span4 {
    width: 100% !important;
  }
  .packery-container .home-item {
    height: 200px;
  }
  .home-item.first-item {
    height: 275px !important;
  }
  .home-item.first-item p.big {
    font-size: 18px;
  }
  .packery-container .home-item.home-item-smaller {
    height: 140px !important;
  }
  .packery-container .home-item.home-item-smallest {
    height: 120px !important;
  }
  .home-item-cntr.welcome p.big {
    font-size: 24px;
    line-height: 38px;
  }
  .home-item-cntr .home-item-icon {
    right: 10px;
    bottom: 10px;
  }
  #about .success-story {
    margin-top: 0px;
  }
  #about p {
    font-size: 14px;
    line-height: 24px;
  }
  #about hr {
    margin-top: 0px;
  }
  .home-item-cntr.learn-more p:first-child {
    margin-top: 10px;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.image-item {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .image-item {
    margin-left: 0px;
    margin-top: 10px;
  }
}
/*
 * marine debris page
 */
.InformNumbers p {
  font-size: 14px !important;
  font-family: PtMono, "Courier New", Courier, monospace;
  line-height: 22px !important;
}
.InformNumbers--number {
  font-size: 16px;
  padding-right: 10px;
  color: #0070cf;
}
p.InformNumbers--footnote {
  margin-top: 20px;
  font-size: 12px !important;
  color: #4d4d4f !important;
  line-height: 19px !important;
}
.white-text {
  color: white !important;
}
.MpLinkBlock {
  margin-top: 10px;
}
.MpLinkBlock:hover {
  background-color: #eeeeee;
}
.MpLinkBlock--linkBackground {
  padding: 10px;
  display: block;
}
.MpLinkBlock--title {
  padding-bottom: 10px;
  color: #332e1f;
}
.MpLinkBlock--caption {
  padding-top: 10px;
  color: black;
  font-size: 12px !important;
  line-height: 18px !important;
  margin: 10px 10px 0 10px;
}
@media (min-width: 768px) {
  .MpLinkBlock--title {
    height: 130px;
  }
}
@media (min-width: 980px) {
  .MpLinkBlock--title {
    height: 95px;
  }
}
@media (min-width: 1200px) {
  .MpLinkBlock--title {
    height: 80px;
  }
}
@media (max-width: 979px) {
  .MpLinkBlock--title {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .MpLinkBlock--title {
    font-size: 14px;
  }
}
