<div>
	<!-- F I L T E R S -->

	<div id="search-filter">
		<input type="text" placeholder="SEARCH" ng-model="searchText">
		<i class="icon-search"></i>
	</div>

	<!-- location filter -->
	<a class="filter-group-toggle first" href="javascript:void(0)" data-toggle="collapse" data-target="#location-filter">
		<div class="filter-group-label">
			<i class="icon-map-marker subdued"></i>
			Location 
			<i class="icon-angle-right pull-right"></i>
		</div>
	</a>
	<div id="location-filter" class="collapse filter-group-container">
		placeholder for a map
	</div>

	<!-- categories filter -->
	<a class="filter-group-toggle" href="javascript:void(0)" data-toggle="collapse" data-target="#categories-filter">
		<div class="filter-group-label">
			<i class="icon-th subdued"></i>
			Categories
			<i class="icon-angle-right pull-right"></i>
		</div>
	</a>
	<div id="categories-filter" class="collapse filter-group-container">
		<a class="select-all-link" href="javascript:void(0)">SELECT ALL</a>
		<ul class="unstyled filter-options">
			<li><i class="icon-check"></i>Human Use <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Physical Data <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Biological Data <strong>00</strong></li>
		</ul>
	</div>

	<!-- tags filter -->
	<a class="filter-group-toggle" href="javascript:void(0)" data-toggle="collapse" data-target="#tags-filter">
		<div class="filter-group-label">
			<i class="icon-tags subdued"></i>
			Tags
			<i class="icon-angle-right pull-right"></i>
		</div>
	</a>
	<div id="tags-filter" class="collapse filter-group-container">
		<a class="select-all-link" href="javascript:void(0)">SELECT ALL</a>
		<ul class="unstyled filter-options">
			<li><i class="icon-check"></i>Climate Change <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Derelict Fishing Gear <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Tides <strong>00</strong></li>
			<li><i class="icon-check"></i>Marine Debris <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Issue <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Issue <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Issue <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Issue <strong>00</strong></li>
		</ul>
	</div>


	<!-- formats filter -->
	<a class="filter-group-toggle" href="javascript:void(0)" data-toggle="collapse" data-target="#formats-filter">
		<div class="filter-group-label">
			<i class="icon-file-alt subdued"></i>
			Formats
			<i class="icon-angle-right pull-right"></i>
		</div>
	</a>
	<div id="formats-filter" class="collapse filter-group-container">
		<a class="select-all-link" href="javascript:void(0)">SELECT ALL</a>
		<ul class="unstyled filter-options">
			<li><i class="icon-check-empty"></i>JSON <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>CSV <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>KML <strong>00</strong></li>
			<li><i class="icon-check-empty"></i>Full Metadata <strong>00</strong></li>
		</ul>
	</div>

</div>