
<div class="result clearfix result-closed" ng-click="resultClicked($event)" id="{{ resultData['sys.src.item.uri_s'] }}">
	<a class="result-close-link" href="javascript:void(0)" ng-click="resultCloseClicked($event)"><i class="icon-remove-sign"></i></a>
	<div class="result-info">
		<div class="result-title" ng-click="resultCloseClicked($event)">
			{{resultData.title[0]}}
		</div>
		<p class="result-description">
			{{resultData.description}}
		</p>
	</div>
	<div class="result-links">
		<div class="subdued date-label">UPDATED</div>
		<div class='date'>{{ resultData["sys.src.item.lastmodified_tdt"] | date:'shortDate' }}</div>
		<ul class="unstyled links">

			<li ng-repeat="link in links">
				<a target="_blank" ng-click="linkClicked($event)" href="{{ link.href }}">{{ allowedLinkTypes[link.type].label }}</a>
				<i class="icon-info-sign"></i>
			</li>
			
			
			<li><a target="_blank" ng-click="linkClicked($event)" href="{{ metadataXmlUrl() }}">METADATA XML</a><i class="icon-info-sign"></i></li>
			<li><a target="_blank" ng-click="linkClicked($event)" href="{{ jsonUrl() }}">JSON</a><i class="icon-info-sign"></i></li> 
			
		</ul>
	</div>
	<div class="result-details clearfix">
		<div class="result-map">
			map placeholder
		</div>
		<dl class="result-metadata">
			
			<dt ng-show="metadata.datePublished">date published</dt>
			<dd ng-show="metadata.datePublished">{{metadata.datePublished}}</dd>
			
			<dt ng-show="metadata.creator">creator</dt>
			<dd ng-show="metadata.creator">{{metadata.creator}}</dd> 
			
			<dt ng-show="metadata.publisher">publisher</dt>
			<dd ng-show="metadata.publisher">{{metadata.publisher}}</dd>
			
			<dt ng-show="metadata.contactName || metadata.contactEmail">contact</dt>
			<dd ng-show="metadata.contactName">{{metadata.contactName}}</dd>
			<dd ng-show="metadata.contactEmail">{{metadata.contactEmail}}</dd>
			
			<dt ng-show="metadata.constraints">constraints</dt>
			<dd ng-show="metadata.constraints">{{metadata.constraints}}</dd>
		</dl>
	</div>
</div>
