<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" class="ng-app:wcodpApp" ng-app="wcodpApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>West Coast Ocean Data Portal | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/all.css?v=0.4">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
      <link rel="stylesheet" href="/assets/css/ie7.css">
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="header container">
	<div class="row">
		<div class="span4 brand">
			<a href="/"><img src="/assets/img/WCODP_web_logo.png"></a>
		</div>

		<!--  D E S K T O P   M E N U -->
		<div class="span8 visible-desktop">
			<div class="clearfix">
				<span class="pull-right description subdued">A project of the West Coast Governors Alliance on Ocean Health</span>
			</div>
			<div class="top-nav">
				<ul class="unstyled inline">
					
						
						<li>
						
							<a href="/discover">discover</a>
						</li>
					
						
						<li>
						
							<a href="/connect">connect</a>
						</li>
					
						
						<li>
						
							<a href="/inform">inform</a>
						</li>
					
						
						<li>
						
							<a href="/about">about</a>
						</li>
					
				</ul>
			</div>
		</div>

		<!--  N O N - D E S K T O P   M E N U -->
		<div class="dropdown top-nav-mobile hidden-desktop">
			<a class="dropdown-toggle" href="javascript:void(0)">MENU <i class="icon-angle-down"></i></a>
			<ul class="dropdown-menu pull-right">
				
					<li class="active ">
				
						<a href="/">home</a>
					</li>
				
				
					
					<li>
					
						<a href="/discover">discover</a>
					</li>
				
					
					<li>
					
						<a href="/connect">connect</a>
					</li>
				
					
					<li>
					
						<a href="/inform">inform</a>
					</li>
				
					
					<li>
					
						<a href="/about">about</a>
					</li>
				
			</ul>				
		</div>

	</div>
</div>

    
<div class="container" id="home" ng-controller="HomeCtrl">
	<div class="row packery-container">

		<a class="home-item green1 span8 clearfix" href="/discover">
			<div class="home-item-cntr welcome">
				<div class="home-item-label clearfix">
					<div class="pull-left">WELCOME</div>
				</div>
				<p class="big">Discover & contribute valuable data resources to inform ocean planning, policy development and resource management on the West <span style="white-space:nowrap">Coast.<img style="margin-left: 10px;" src="/assets/img/icons/welcome_caret.png"></span></p>			
			</div>
		</a>

		<div class="home-item red span4">
			<div class="home-item-cntr search">
				<div ng-cloak class="giantText">{{ recordCount }}</div>
				<p>registered resources</p>
				<form ng-submit="search()">
					<div id="search-filter">
						<input type="search" placeholder="SEARCH" ng-model="searchText">
						<img src="/assets/img/icons/black_search.png" ng-click="search()">
					</div>
				</form>				
			</div>
		</div>

		<a class="home-item-biological home-item blue span4 h1" href="/discover">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Biological Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>
		</a>

		<a class="home-item-marine-debris home-item green2 span4 h1" href="/discover">
			<div class="home-item-cntr">
				<div class="home-item-label clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Marine Debris Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			

		</a>

		<a class="home-item-human-use home-item green2 span4 h1" href="/discover">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Human Use Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			
		</a>

		<!-- <a class="home-item-location home-item span4 h1" href="javascript:void(0)">
			<div class="home-item-cntr">
				
				<div class="labeling-layer">
					<div class="home-item-label inverse clearfix z-front">
						<div class="pull-left">DISCOVER</div>
					</div>
					<p class="big z-front">Location Based Data</p>
					<img class="home-item-icon z-front" src="/assets/img/icons/white_search.png">
				</div>
				<div leaflet defaults="map.options" center="map.center" class="leaflet-directive h1"></div>
			</div>			
			
		</a> -->

		<a class="home-item-physical home-item green2 span4 h1" href="/discover">
			<div class="home-item-cntr">
				<div class="home-item-label inverse clearfix">
					<div class="pull-left">DISCOVER</div>
				</div>
				<p class="big">Physical Data</p>
				<img class="home-item-icon" src="/assets/img/icons/white_search.png">
			</div>			
		</a>

	</div>
</div>



    <div class="footer container">
	<div class="row">
		<div class="span12">
			<a href="mailto:info@westcoastoceans.org">INFO at WESTCOASTOCEANS.ORG</a>
			<span class="pull-right"><a class="subdued" href="/">API ACCESS</a></span>
		</div>
	</div>
</div>

    <!--[if lt IE 9]>
      <script src="/assets/js/ie8.js"></script>
    <![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="/assets/js/all.js?v=0.4"></script>

    <!-- <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  </body>
</html>
