

//
//  V A R I A B L E S
//

@blue: #0070cf;
@red: #ff3817;
@green1: #baba27;
@green2: #9ec73d;
@faintGrey: #eee;
@lightGrey: #a6a6a6;
@grey: #999;
@darkGrey: #4d4d4f;
@nearlyBlack: #332e1f;

@smallestFontSize: 11px;
@smallFontSize: 12px;

@giantFontSize: 32px;

// this is shared with items in the search results
@topNavLeftMargin: 20px;

@resultBorderStyle: 1px dashed @lightGrey;

//
//  M I X I N S
//

.fontface(@generalName, @derivativeName, @weight, @style) {
        font-family: '@{generalName}';
        src: url('../fonts/@{generalName}/@{derivativeName}-webfont.eot');
        src: url('../fonts/@{generalName}/@{derivativeName}-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/@{generalName}/@{derivativeName}-webfont.woff') format('woff'),
             url('../fonts/@{generalName}/@{derivativeName}-webfont.ttf') format('truetype'),
             url('../fonts/@{generalName}/@{derivativeName}-webfont.svg#@{derivativeName}') format('svg');
        font-weight: @weight;
        font-style: @style;
}

.use-sans-serif-font() {
    font-family: OpenSans, sans-serif;
}

.use-monospaced-font() {
    font-family: PtMono, "Courier New", Courier, monospace;
}

.uppercase {
  text-transform: uppercase;
}

.box-shadow(@style) {
  box-shadow:         @style;
  -webkit-box-shadow: @style;
  -moz-box-shadow:    @style;
}
.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

//
//  S T Y L E S H E E T
//

@font-face {
        .fontface('OpenSans', 'OpenSans-LightItalic', 200, italic);
        }

@font-face {
        .fontface('OpenSans', 'OpenSans-Light', 200, normal);
        }

@font-face {
        .fontface('OpenSans', 'OpenSans-ExtraBold', 900, normal);
        }

@font-face {
        .fontface('OpenSans', 'OpenSans-Bold', 700, normal);
        }

@font-face {
        .fontface('OpenSans', 'OpenSans-Italic', 400, italic);
        }

@font-face {
        .fontface('OpenSans', 'OpenSans-Regular', 400, normal);
        }

@font-face {
        .fontface('PtMono', 'PtMono-Bold', 700, normal);
        }

@font-face {
        .fontface('PtMono', 'PtMono-Regular', 400, normal);
        }

*, input {
  .use-monospaced-font();
  font-style: normal;
  font-weight: normal;
}

p, p span {
  .use-sans-serif-font();
  font-style: normal;
  font-weight: normal;
  word-wrap: break-word;
}

.subdued {
  color: @lightGrey;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

a.subdued:hover {
  color: @darkGrey;
}

small {
  font-size: @smallestFontSize;
}

/*
 * h e a d e r
 */

.header .description {
  font-size: @smallestFontSize;
  margin-top: 42px;
  margin-bottom: 6px;
}

.top-nav {
	border-top: @lightGrey 2px solid;
	border-bottom: @lightGrey 2px solid;
  margin-left: @topNavLeftMargin;
}

.top-nav ul {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 17px;
  position: relative;
}

.top-nav li {
  margin-left: 70px;
}

.top-nav li:first-child {
  margin-left: 0;
}

.top-nav a { color: @nearlyBlack; .uppercase; }
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a { color: @grey; }
.top-nav ul a:hover { color: @nearlyBlack; }

.top-nav li.active {
  position: relative;
}
.top-nav li.active img {
  position: absolute;
  top: 22px;
  left: 30px;
}
.top-nav li.active.about img {
  left: 20px;
}
.top-nav li.active.inform img {
  left: 25px;
}

.top-nav-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
}


/*
 * f o o t e r
 */

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: @darkGrey 1px solid;
  padding-top: 30px;
  font-size: 12px;
}
.footer a, .footer a:hover {
  color: @green1;
}


/*
 *  h o m e
 */
.home-item { 
  margin-left: 0; 
  position: relative;
}
.home-item.w1 { width: 31%; }
.home-item.w2 { width: 64%; }
.home-item.h1 { height: 300px;}

/* colors */
.home-item.green1 { background-color: @green1; }
.home-item.green2 { background-color: @green2; }
.home-item.red { background-color: @red; }
.home-item.blue { background-color: @blue; }
.home-item.lightGrey { background-color: @lightGrey; }
.home-item.transparent { background-color: transparent; }

.home-item-cntr { padding: 10px 15px 15px 15px; }
.home-item-cntr.welcome { padding: 20px 30px 30px 30px; }

.home-item-cntr.search { padding: 40px 20px 20px 20px; }
.home-item-cntr.search .giantText {
  font-size: 50px;
  line-height: 55px;
  color: @nearlyBlack;
  font-weight: bold;
}
.home-item-cntr.search p {
  font-weight: 200;
  margin-bottom: 20px;
}

.home-item p { color: white; }
.home-item p.big { 
  font-size: @giantFontSize;
  //font-weight: 700;
  line-height: 50px;
//  Started messing with this http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
//  but it doesn't seem to work in chrome. Might need to follow some of the links in Paul Irish's comment.
//  word-break: break-all;
//  -webkit-hyphens: auto;
//     -moz-hyphens: auto;
//      -ms-hyphens: auto;
//          hyphens: auto;
}

.home-item-label {
  margin-bottom: 10px;
}
.home-item-label > .pull-left {
  color: @nearlyBlack;
  border-bottom: 1px solid @nearlyBlack;
}
.home-item-label.inverse > .pull-left {
  color: white;
  border-bottom-color: white;
}
.home-item-cntr .home-item-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.home-item-location .leaflet-directive,
.home-item-location .home-item-cntr,
.leaflet-cover,
.home-item-location .labeling-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-item-location .leaflet-directive {
  z-index: -1;
}

.leaflet-cover,
.home-item-location .labeling-layer {
  z-index: 9000;
  //background-color: blue;
}

.home-item .gigante {
  width: 100%;
  height: 400px;
}


/**
 * a b o u t
 */
#about {
  margin-top: 30px;
}

.home-item .about .home-item-label div.pull-left {
  border-bottom: @green2 2px solid;
}

.home-item .learn-more .home-item-label div.pull-left {
  border-bottom: @green2 2px solid;
}

.home-item-cntr.about,
.home-item-cntr.learn-more { padding: 30px 50px 40px 50px; }

#about p {
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
}
.home-item-cntr.about p:first-child,
.home-item-cntr.learn-more p:first-child {
  margin-top: 30px;
}
.home-item-cntr.about a {
  color: white;
}
.home-item .learn-more p { color: inherit; }

.home-item-cntr.about a,
.home-item-cntr.learn-more a {
  font-weight: normal;
}
.home-item-cntr.about a:hover {
  color: @lightGrey;
}

.success-story > .cntr, 
.learn-more > .cntr { padding: 0 50px 40px 50px; }

#about .success-story h3,
#about .learn-more h3 {
  .use-sans-serif-font();
  font-weight: 400;
  margin-bottom: 30px;
}

#about hr {
  margin: 40px 30px 30px 30px;
}

/*
 * p a g i n a t i o n
 */

.result-controls {
  padding-bottom: 20px;
}
.result-controls span {
  margin-left: 20px;
  font-size: @smallestFontSize;
}
.pagination a,
.pagination span, {
  float: left;
  margin-right: 8px;
  margin-top: 5px;
  line-height: 11px;
}
.pagination a.active {
  border-bottom: @blue 2px solid;
}


/*
 * f i l t e r s
 */

#filters {
  margin-top: 50px;
}
.filters-container {
  width: inherit; // to allow display: table-cell elements to fill width
}
#search-filter {
  border: @red 1px solid;
  .rounded-corners(3px);
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
#search-filter input {
  border: none;
  outline: none;
  .box-shadow(none);
  margin-top: 2px;
  margin-bottom: 0;
  width: 80%;
  font-size: 12px;
}
#search-filter img {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
 }

#discover .leaflet-directive { 
  height: 180px; 
}
.leaflet-map-pane:hover { 
  cursor: pointer; //url(http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-icon.png),default;
}

/* collapsible filter groups */
a.filter-group-toggle {
  display: table-cell;
  vertical-align: middle;  
  background-color: #F4F2F1;
  color: @nearlyBlack;
  width: inherit;
  height: 70px;
  font-size: 22px;
  padding-left: 22px;
  padding-right: 22px;
  border-top: #8FB6CC 1px solid;
}
a.filter-group-toggle:first-of-type {
  border-top: none;
}
.filter-group-label i[class^="icon"] {
  font-size: 20px;
}
.filter-group-container {
  background-color: #F4F2F1; 
  padding-left: 22px;
  padding-right: 22px;
}
/* desaturate non-hovered items */
#filters a.filter-group-toggle.desaturated,
.filter-group-container.desaturated {
  background-color: fadeout(#F4F2F1, 50%);
  color: fadeout(@nearlyBlack, 50%);
  border-top-color: fadeout(#8FB6CC, 50%);
}
#filters a.filter-group-toggle.desaturated i[class^="icon"] {
  color: fadeout(#a6a6a6, 50%);
}
#filters a.filter-group-toggle:hover {
  border-top-color: fadeout(#8FB6CC, 50%);
}

.filter-group-container .select-all-link {
  display: block;
  font-size: 12px;
}
#location-filter .select-all-link {
  display: inline;
}
ul.filter-options {
  margin-bottom: 30px;
}
ul.filter-options li {
  margin-top: 13px;
  .use-sans-serif-font();
  font-size: 16px;
  color: @blue;
}
ul.filter-options li > i {
  margin-right: 18px;
}

#location-filter {
  padding-left: 0;
  padding-right: 0;
}
#location-filter p.directions {
  text-align: center;
  margin-bottom: 0;
}
#location-filter p.attribution {
  font-size: @smallestFontSize;
  margin: 0 10px 0 10px;
  line-height: @smallestFontSize + 3;
}


/*
 * f i l t e r s   a s   d r o p d o w n
 */
.filters-toggle {
  height: 60px;
  text-align: center;
  background-color: @green1;
  color: white;
  font-size: 22px;
  border: 10px solid white;
  .rounded-corners(2px);
}
.filters-toggle:hover,
.filters-toggle:active {
  color: @faintGrey;
  //background-color: @green2;
}
.filters-toggle-submit-container {
  margin-top: 20px;
}
.filters-toggle-on {
  display: block;
  border-width: 0;
  margin-bottom: 20px;
}
.filters-toggle-on .label-container {
  padding-top: 20px;
}
.filters-toggle-submit,
.filters-toggle-cancel {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  .rounded-corners(2px);
}
.filters-toggle-cancel {
  background-color: @red;
}

#filters .mobile-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  margin-top: 0;
  padding-top: 20px;
  width:inherit;
}

#filters .mobile-modal #search-filter {
  margin-left: 20px;
  margin-right: 20px;
}

#filters .mobile-modal a.filter-group-toggle,
#filters .mobile-modal .filters-toggle {
  // A number larger than mobile width will be. 
  // Just wanting to fill the screen.
  width: 1000px; 
}


/*
 * r e s u l t s
 */

p.results-summary {
  .use-sans-serif-font();
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
  font-style: italic;
  margin-left: @topNavLeftMargin;
  margin-right: 50px;
}
p.results-summary strong {
  .use-sans-serif-font();
  font-weight: 400;
  font-style: normal;
  color: @blue;
}

.result {
  display: block;
  position: relative;
  margin-left: @topNavLeftMargin;
  padding-top: 13px;
  padding-bottom: 10px;
  border-top: @resultBorderStyle;
}

.result:last-child {
  border-bottom: @resultBorderStyle;
}

.result-info {
  width: 75%;
  float: left;
}

.result-links {
  width: 20%;
  float: right;
  border-left: @resultBorderStyle;
  padding-left: 3%;
}

.result-info > .result-title {
  .uppercase;
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-info > p.result-description {
  color: @nearlyBlack;
  font-weight: 200;
  line-height: 24px;
}
.result-info > .result-title,
.result-info > p.result-description {
  padding-right: 20px;
}
.result-links .date-label {
  font-size: @smallestFontSize;
}

.result-links .links {
  margin-bottom: 10px; 
  .uppercase;
}

.result-links .links a {
  margin-right: 8px;
  text-decoration: underline;
}

.result-links .links i {
  color: @grey;
}

.result-map {
  width: 35%;
  height: 150px;
  float: left;
  background-color: @lightGrey;
}

.result-metadata {
  float: left;
  width: 40%;
  margin-top: 0;
  margin-left: 20px;
  .uppercase;
  font-size: @smallestFontSize;
}
.result-metadata dt {
  color: @lightGrey;
  font-weight: normal; 
  line-height: 16px;
}
.result-metadata dd {
  margin-left: 0;
  line-height: 16px;
  margin-bottom: 12px;
}

.result-close-link {
  position: absolute;
  top: 13px;
  right: 18px;
  color: @grey;
  font-size: 18px;
}

.result-close-link:hover {
  color: @darkGrey;
}

.result-closed:hover,
.result-opened {
  background-color: fadeout(@blue, 95%);
}

.result-closed:hover,
.result-title:hover {
  cursor: pointer;  
}

.result-opened {
  background-color: fadeout(@blue, 95%);
  border-top: none;
  margin-left: 0;
  margin-right: -@topNavLeftMargin;
  padding-left: @topNavLeftMargin; 
  padding-right: @topNavLeftMargin; 
} 
.result-closed .result-close-link,
.result-closed .result-details {
  display: none;
}
.result-closed .result-description {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-opened .result-description {
  margin-bottom: 50px;
}

.results-end {
  font-size: @smallestFontSize;
  margin-top: 20px;
}

/*
 * d i s c o v e r   l a n d i n g
 */
#discover-landing {
  margin-top: 44px;
}

#discover-landing p {
  margin-left: @topNavLeftMargin;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 26px;
  line-height: 42px;
  color: @nearlyBlack;
}

#discover-landing p .highlight {
  .use-monospaced-font();
  color: @green1;
  font-weight: 700;
}
#discover-landing p i {
  color: @green1;  
}
#discover-landing p i.blue {
  color: @blue;
}

// fade animation
.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
}        
 
.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
}



// Responsiveness
.packery-container {  padding-left: 30px; }
@media (max-width: 1199px) {
  .packery-container {  padding-left: 20px; }
}
@media (max-width: 979px) {
  .packery-container {  padding-left: 20px; }
}
@media (max-width: 767px) {
  .packery-container {  padding-left: 0px; }
}

@media (max-width: 979px) {
  .home-item.w1 { width: 100%; }
  .home-item.w2 { width: 100%; }
  .home-item.h1 { height: auto;}
  #home {
    margin-top: 30px;
  }
  /*.home-item-cntr.welcome p.big {
    font-size: 18px;
    line-height: 38px;
  }*/
  #filters {
    margin-top: 10px;
  }
  #about p {
    font-size: 16px;
    line-height: 28px;
  }
  #about .success-story h3,
  #about .learn-more h3 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  body { font-size: 12px; }

  .home-item-cntr.welcome p.big {
    font-size: 18px;
    line-height: 38px;
  }
  .home-item-cntr .home-item-icon {
    right: 10px;
    bottom: 10px;
  }  
  #about .success-story {
    margin-top: 0px;
  }
  #about p {
    font-size: 14px;
    line-height: 24px;
  }

  #about hr {
    margin-top: 0px;
  }

  // .home-item.learn-more {
  //   margin-top: 0;
  // }
  .home-item-cntr.learn-more p:first-child {
    margin-top: 10px;
  }

}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
